body{
    background-color: #001534;
}
/* variable : couleurs */

$primary: #15dea5;
$mint: #15DEA5;
$white: #FFF;
$size: 0.55rem;
$black: #0000;
$heading-shadow-size: 0.5rem;
$blue: #0c2461;
$blue-border: solid 5px #0c2461;
$pastel-blue: #0097a6;
$black: #0000;
/* ********************* */ 

/* PLACE HOLDER CLASSE SILENCIEUSE */
%typography {

    color: $primary;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 1.7;
}
/* ********************* */ 
/* PLACE HOLDER APPLIQUE AUX H1 */
h1 {
    @extend %typography;
}
/* ********************* */ 

/* ********************* */ 
/* PLACE HOLDER APPLIQUE AUX H2 */
h2 {
    @extend %typography;
}
/* ********************* */ 

.navbar-content{
    color: white;
    background-color: black;
}
.centrage {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: $mint;
    color: $white;
}
/* nesting */
ul {
    list-style: none;
    text-align: right;
    li {
        display: inline;
        font-size: 3rem;
        color: #D6FFF5;
        &:hover {
            color: #15DEA5;
        }
    }
}

/* ********************** */
    
/* mixin customisable OMBRE taille = variable teinte = variable + paramètre */

@mixin heading-shadow ($colour: lightness-shift($colour-primary), $size: $heading-shadow-size){
    color: $colour;
    text-shadow: $size $size $colour;
}   
 /* adapter luminosité en fonction de la couleur */
    h1 {
        @extend %typography;
    }
    /* ********************* */    
/* ******** */
@mixin souligne
{
    text-decoration: underline $pastel-blue;
    
}

/* combinateurs */
.parent {
    background-color: #15DEA5;
    .descendant {
        color: #FFF;   
    }
    >.child {
        color: #D6FFF5;
    }
    +.adjacent {
        color: #001534;
    }
}
/* bloc element avec sous bloc */
.block {
    padding: 2rem;
    background-color: #15DEA5;
    &__element {
        color: #fff;
        padding: 2rem;
        background-color: rgb(114, 143, 136);
        &__modifier {
            background-color: #001534;
            padding: 1rem;
            &:hover {
                color: #15DEA5;
                padding: 2rem;
            }
        }
    }
}
.btn {
    display: inline-block;
    margin: 0 auto;
    background: #15DEA5;
    padding: 1rem;
    &--disabled {
        background: grey;
    }
    &--outline {
        background: transparent;
        color: white;
        border: 2px solid #15DEA5;
        &.btn__disabled{
            border: 2px solid grey;
        }
    }
}
.form {
    width: 100%;
    padding-bottom: 1.5rem;
}
.form__heading {
    width: 100%;
    color: #fff;
    text-shadow: 0.55rem 0.55rem #11af82;
    background: #001534;
    line-height: 5rem;
    padding: 1.5rem; 
}
.form__field label {
    color: #D6FFF5;
    display: block;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 1.5rem; 
}
.form__field input {
    width: 100%;
    background: #001534;
    border: 0.1rem solid $mint;
    padding: 1.5rem;
    color: #D6FFF5; 
}
.form__field textarea {
    width: 100%;
    color: $mint;
    background: #001534;
    border: 0.1rem solid $mint;
    outline: none;
    padding: 1.5rem;
    margin-bottom: 0.75rem;
}
.form {
    &__heading {
        @include heading-shadow(#FFF);
    }
}
.about {

    &__heading {
        @include heading-shadow(#fff);
    }


}

/* ******** CONDITION ****** */
.alerte 
{
    @include souligne ();
    @extend %typography;
    background-color: white;
    padding: 2rem;
    border-color: chocolate 3px solid;
    width: 50%;
 }
/* FONCTION */
 @function lightness-shift($colour){
    @if ( lightness($colour) < 25% ) {
      $colour: lighten($colour, 10%);
    }@else{
     $colour: darken($colour, 10%);
    }
}
/* ******* */