
/* variable : couleurs */
$primary: #15dea5;
$mint: #15DEA5;
$white: #FFF;
$size: 0.55rem;
$black: #0000;
$heading-shadow-size: 0.2rem;
$blue: #0c2461;
$blue-border: solid 5px #0c2461;
$pastel-blue: #0097a6;
$black: #0000;
/* ********************* */ 